In [23]:
import pandas as pd
df = pd.read_csv("csv_output/actor.csv")

In [26]:
df.isnull().count()

actor_id              200
first_name            200
last_name             200
last_update_year      200
last_update_month     200
last_update_day       200
last_update_hour      200
last_update_minute    200
last_update_second    200
dtype: int64

In [1]:
import sqlite3

# Connect to the database
database_path = "sqlite-sakila.sqlite"
conn = sqlite3.connect(database_path)
cursor = conn.cursor()

# Step 1: Get all table names
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()

# Step 2: For each table, get column names and types
for table_name, in tables:
    print(f"\nTable: {table_name}")
    cursor.execute(f"PRAGMA table_info({table_name});")
    columns = cursor.fetchall()
    # PRAGMA table_info gives: (cid, name, type, notnull, dflt_value, pk)
    for col in columns:
        col_name = col[1]
        col_type = col[2]
        print(f"  {col_name} : {col_type}")

conn.close()

Table: actor
  actor_id : numeric
  first_name : VARCHAR(45)
  last_name : VARCHAR(45)
  last_update : TIMESTAMP

Table: country
  country_id : SMALLINT
  country : VARCHAR(50)
  last_update : TIMESTAMP

Table: city
  city_id : INT
  city : VARCHAR(50)
  country_id : SMALLINT
  last_update : TIMESTAMP

Table: address
  address_id : INT
  address : VARCHAR(50)
  address2 : VARCHAR(50)
  district : VARCHAR(20)
  city_id : INT
  postal_code : VARCHAR(10)
  phone : VARCHAR(20)
  last_update : TIMESTAMP

Table: language
  language_id : SMALLINT
  name : CHAR(20)
  last_update : TIMESTAMP

Table: category
  category_id : SMALLINT
  name : VARCHAR(25)
  last_update : TIMESTAMP

Table: customer
  customer_id : INT
  store_id : INT
  first_name : VARCHAR(45)
  last_name : VARCHAR(45)
  email : VARCHAR(50)
  address_id : INT
  active : CHAR(1)
  create_date : TIMESTAMP
  last_update : TIMESTAMP

Table: film
  film_id : INT
  title : VARCHAR(255)
  description : BLOB SUB_TYPE TEXT
  release_year : VARCHAR(4)
  language_id : SMALLINT
  original_language_id : SMALLINT
  rental_duration : SMALLINT
  rental_rate : DECIMAL(4,2)
  length : SMALLINT
  replacement_cost : DECIMAL(5,2)
  rating : VARCHAR(10)
  special_features : VARCHAR(100)
  last_update : TIMESTAMP

Table: film_actor
  actor_id : INT
  film_id : INT
  last_update : TIMESTAMP

Table: film_category
  film_id : INT
  category_id : SMALLINT
  last_update : TIMESTAMP

Table: film_text
  film_id : SMALLINT
  title : VARCHAR(255)
  description : BLOB SUB_TYPE TEXT

Table: inventory
  inventory_id : INT
  film_id : INT
  store_id : INT
  last_update : TIMESTAMP

Table: staff
  staff_id : SMALLINT
  first_name : VARCHAR(45)
  last_name : VARCHAR(45)
  address_id : INT
  picture : BLOB
  email : VARCHAR(50)
  store_id : INT
  active : SMALLINT
  username : VARCHAR(16)
  password : VARCHAR(40)
  last_update : TIMESTAMP

Table: store
  store_id : INT
  manager_staff_id : SMALLINT
  address_id : INT
  last_update : TIMESTAMP

Table: payment
  payment_id : INT
  customer_id : INT
  staff_id : SMALLINT
  rental_id : INT
  amount : DECIMAL(5,2)
  payment_date : TIMESTAMP
  last_update : TIMESTAMP

Table: rental
  rental_id : INT
  rental_date : TIMESTAMP
  inventory_id : INT
  customer_id : INT
  return_date : TIMESTAMP
  staff_id : SMALLINT
  last_update : TIMESTAMP

In [ ]:


# Example usage
replacements = export_sqlite_to_csv("sqlite-sakila.sqlite", "sqlite-sakila")
print("\nReplaced timestamp columns:\n", replacements)

Processing table: actor
Saved actor -> sqlite-sakila\actor.csv
Processing table: country
Saved country -> sqlite-sakila\country.csv
Processing table: city
Saved city -> sqlite-sakila\city.csv
Processing table: address
Saved address -> sqlite-sakila\address.csv
Processing table: language
Saved language -> sqlite-sakila\language.csv
Processing table: category
Saved category -> sqlite-sakila\category.csv
Processing table: customer
Saved customer -> sqlite-sakila\customer.csv
Processing table: film
Saved film -> sqlite-sakila\film.csv
Processing table: film_actor
Saved film_actor -> sqlite-sakila\film_actor.csv
Processing table: film_category
Saved film_category -> sqlite-sakila\film_category.csv
Processing table: film_text
Saved film_text -> sqlite-sakila\film_text.csv
Processing table: inventory
Saved inventory -> sqlite-sakila\inventory.csv
Processing table: staff
Saved staff -> sqlite-sakila\staff.csv
Processing table: store
Saved store -> sqlite-sakila\store.csv
Processing table: payment
Saved payment -> sqlite-sakila\payment.csv
Processing table: rental
Saved rental -> sqlite-sakila\rental.csv
All tables exported!

Replaced timestamp columns:
 {'actor': {'last_update': ['last_update_year', 'last_update_month', 'last_update_day', 'last_update_hour', 'last_update_minute', 'last_update_second']}, 'country': {'last_update': ['last_update_year', 'last_update_month', 'last_update_day', 'last_update_hour', 'last_update_minute', 'last_update_second']}, 'city': {'last_update': ['last_update_year', 'last_update_month', 'last_update_day', 'last_update_hour', 'last_update_minute', 'last_update_second']}, 'address': {'last_update': ['last_update_year', 'last_update_month', 'last_update_day', 'last_update_hour', 'last_update_minute', 'last_update_second']}, 'language': {'last_update': ['last_update_year', 'last_update_month', 'last_update_day', 'last_update_hour', 'last_update_minute', 'last_update_second']}, 'category': {'last_update': ['last_update_year', 'last_update_month', 'last_update_day', 'last_update_hour', 'last_update_minute', 'last_update_second']}, 'customer': {'create_date': ['create_date_year', 'create_date_month', 'create_date_day', 'create_date_hour', 'create_date_minute', 'create_date_second'], 'last_update': ['last_update_year', 'last_update_month', 'last_update_day', 'last_update_hour', 'last_update_minute', 'last_update_second']}, 'film': {'last_update': ['last_update_year', 'last_update_month', 'last_update_day', 'last_update_hour', 'last_update_minute', 'last_update_second']}, 'film_actor': {'last_update': ['last_update_year', 'last_update_month', 'last_update_day', 'last_update_hour', 'last_update_minute', 'last_update_second']}, 'film_category': {'last_update': ['last_update_year', 'last_update_month', 'last_update_day', 'last_update_hour', 'last_update_minute', 'last_update_second']}, 'inventory': {'last_update': ['last_update_year', 'last_update_month', 'last_update_day', 'last_update_hour', 'last_update_minute', 'last_update_second']}, 'staff': {'last_update': ['last_update_year', 'last_update_month', 'last_update_day', 'last_update_hour', 'last_update_minute', 'last_update_second']}, 'store': {'last_update': ['last_update_year', 'last_update_month', 'last_update_day', 'last_update_hour', 'last_update_minute', 'last_update_second']}, 'payment': {'payment_date': ['payment_date_year', 'payment_date_month', 'payment_date_day', 'payment_date_hour', 'payment_date_minute', 'payment_date_second'], 'last_update': ['last_update_year', 'last_update_month', 'last_update_day', 'last_update_hour', 'last_update_minute', 'last_update_second']}, 'rental': {'rental_date': ['rental_date_year', 'rental_date_month', 'rental_date_day', 'rental_date_hour', 'rental_date_minute', 'rental_date_second'], 'return_date': ['return_date_year', 'return_date_month', 'return_date_day', 'return_date_hour', 'return_date_minute', 'return_date_second'], 'last_update': ['last_update_year', 'last_update_month', 'last_update_day', 'last_update_hour', 'last_update_minute', 'last_update_second']}}

In [37]:
name = "sqlite-sakila"
database_path = name + ".sqlite"
conn = sqlite3.connect(database_path)

# Step 1: List tables
tables_df = pd.read_sql("SELECT name FROM sqlite_master WHERE type='table';", conn)
tables = tables_df['name'].tolist()

schema_info = {}

for table in tables:
    # Get columns and types
    columns = pd.read_sql(f"PRAGMA table_info({table});", conn)
    # Get foreign keys
    foreign_keys = pd.read_sql(f"PRAGMA foreign_key_list({table});", conn)

    schema_info[table] = {
        "columns": columns[['name', 'type']].to_dict(orient="records"),
        "primary_keys": columns[columns['pk'] > 0]['name'].tolist(),
        "foreign_keys": foreign_keys[['from', 'table', 'to']].to_dict(orient="records")
    }

conn.close()
print(schema_info)

{'actor': {'columns': [{'name': 'actor_id', 'type': 'numeric'}, {'name': 'first_name', 'type': 'VARCHAR(45)'}, {'name': 'last_name', 'type': 'VARCHAR(45)'}, {'name': 'last_update', 'type': 'TIMESTAMP'}], 'primary_keys': ['actor_id'], 'foreign_keys': []}, 'country': {'columns': [{'name': 'country_id', 'type': 'SMALLINT'}, {'name': 'country', 'type': 'VARCHAR(50)'}, {'name': 'last_update', 'type': 'TIMESTAMP'}], 'primary_keys': ['country_id'], 'foreign_keys': []}, 'city': {'columns': [{'name': 'city_id', 'type': 'INT'}, {'name': 'city', 'type': 'VARCHAR(50)'}, {'name': 'country_id', 'type': 'SMALLINT'}, {'name': 'last_update', 'type': 'TIMESTAMP'}], 'primary_keys': ['city_id'], 'foreign_keys': [{'from': 'country_id', 'table': 'country', 'to': 'country_id'}]}, 'address': {'columns': [{'name': 'address_id', 'type': 'INT'}, {'name': 'address', 'type': 'VARCHAR(50)'}, {'name': 'address2', 'type': 'VARCHAR(50)'}, {'name': 'district', 'type': 'VARCHAR(20)'}, {'name': 'city_id', 'type': 'INT'}, {'name': 'postal_code', 'type': 'VARCHAR(10)'}, {'name': 'phone', 'type': 'VARCHAR(20)'}, {'name': 'last_update', 'type': 'TIMESTAMP'}], 'primary_keys': ['address_id'], 'foreign_keys': [{'from': 'city_id', 'table': 'city', 'to': 'city_id'}]}, 'language': {'columns': [{'name': 'language_id', 'type': 'SMALLINT'}, {'name': 'name', 'type': 'CHAR(20)'}, {'name': 'last_update', 'type': 'TIMESTAMP'}], 'primary_keys': ['language_id'], 'foreign_keys': []}, 'category': {'columns': [{'name': 'category_id', 'type': 'SMALLINT'}, {'name': 'name', 'type': 'VARCHAR(25)'}, {'name': 'last_update', 'type': 'TIMESTAMP'}], 'primary_keys': ['category_id'], 'foreign_keys': []}, 'customer': {'columns': [{'name': 'customer_id', 'type': 'INT'}, {'name': 'store_id', 'type': 'INT'}, {'name': 'first_name', 'type': 'VARCHAR(45)'}, {'name': 'last_name', 'type': 'VARCHAR(45)'}, {'name': 'email', 'type': 'VARCHAR(50)'}, {'name': 'address_id', 'type': 'INT'}, {'name': 'active', 'type': 'CHAR(1)'}, {'name': 'create_date', 'type': 'TIMESTAMP'}, {'name': 'last_update', 'type': 'TIMESTAMP'}], 'primary_keys': ['customer_id'], 'foreign_keys': [{'from': 'address_id', 'table': 'address', 'to': 'address_id'}, {'from': 'store_id', 'table': 'store', 'to': 'store_id'}]}, 'film': {'columns': [{'name': 'film_id', 'type': 'INT'}, {'name': 'title', 'type': 'VARCHAR(255)'}, {'name': 'description', 'type': 'BLOB SUB_TYPE TEXT'}, {'name': 'release_year', 'type': 'VARCHAR(4)'}, {'name': 'language_id', 'type': 'SMALLINT'}, {'name': 'original_language_id', 'type': 'SMALLINT'}, {'name': 'rental_duration', 'type': 'SMALLINT'}, {'name': 'rental_rate', 'type': 'DECIMAL(4,2)'}, {'name': 'length', 'type': 'SMALLINT'}, {'name': 'replacement_cost', 'type': 'DECIMAL(5,2)'}, {'name': 'rating', 'type': 'VARCHAR(10)'}, {'name': 'special_features', 'type': 'VARCHAR(100)'}, {'name': 'last_update', 'type': 'TIMESTAMP'}], 'primary_keys': ['film_id'], 'foreign_keys': [{'from': 'original_language_id', 'table': 'language', 'to': 'language_id'}, {'from': 'language_id', 'table': 'language', 'to': 'language_id'}]}, 'film_actor': {'columns': [{'name': 'actor_id', 'type': 'INT'}, {'name': 'film_id', 'type': 'INT'}, {'name': 'last_update', 'type': 'TIMESTAMP'}], 'primary_keys': ['actor_id', 'film_id'], 'foreign_keys': [{'from': 'film_id', 'table': 'film', 'to': 'film_id'}, {'from': 'actor_id', 'table': 'actor', 'to': 'actor_id'}]}, 'film_category': {'columns': [{'name': 'film_id', 'type': 'INT'}, {'name': 'category_id', 'type': 'SMALLINT'}, {'name': 'last_update', 'type': 'TIMESTAMP'}], 'primary_keys': ['film_id', 'category_id'], 'foreign_keys': [{'from': 'category_id', 'table': 'category', 'to': 'category_id'}, {'from': 'film_id', 'table': 'film', 'to': 'film_id'}]}, 'film_text': {'columns': [{'name': 'film_id', 'type': 'SMALLINT'}, {'name': 'title', 'type': 'VARCHAR(255)'}, {'name': 'description', 'type': 'BLOB SUB_TYPE TEXT'}], 'primary_keys': ['film_id'], 'foreign_keys': []}, 'inventory': {'columns': [{'name': 'inventory_id', 'type': 'INT'}, {'name': 'film_id', 'type': 'INT'}, {'name': 'store_id', 'type': 'INT'}, {'name': 'last_update', 'type': 'TIMESTAMP'}], 'primary_keys': ['inventory_id'], 'foreign_keys': [{'from': 'film_id', 'table': 'film', 'to': 'film_id'}, {'from': 'store_id', 'table': 'store', 'to': 'store_id'}]}, 'staff': {'columns': [{'name': 'staff_id', 'type': 'SMALLINT'}, {'name': 'first_name', 'type': 'VARCHAR(45)'}, {'name': 'last_name', 'type': 'VARCHAR(45)'}, {'name': 'address_id', 'type': 'INT'}, {'name': 'picture', 'type': 'BLOB'}, {'name': 'email', 'type': 'VARCHAR(50)'}, {'name': 'store_id', 'type': 'INT'}, {'name': 'active', 'type': 'SMALLINT'}, {'name': 'username', 'type': 'VARCHAR(16)'}, {'name': 'password', 'type': 'VARCHAR(40)'}, {'name': 'last_update', 'type': 'TIMESTAMP'}], 'primary_keys': ['staff_id'], 'foreign_keys': [{'from': 'address_id', 'table': 'address', 'to': 'address_id'}, {'from': 'store_id', 'table': 'store', 'to': 'store_id'}]}, 'store': {'columns': [{'name': 'store_id', 'type': 'INT'}, {'name': 'manager_staff_id', 'type': 'SMALLINT'}, {'name': 'address_id', 'type': 'INT'}, {'name': 'last_update', 'type': 'TIMESTAMP'}], 'primary_keys': ['store_id'], 'foreign_keys': [{'from': 'address_id', 'table': 'address', 'to': 'address_id'}, {'from': 'manager_staff_id', 'table': 'staff', 'to': 'staff_id'}]}, 'payment': {'columns': [{'name': 'payment_id', 'type': 'INT'}, {'name': 'customer_id', 'type': 'INT'}, {'name': 'staff_id', 'type': 'SMALLINT'}, {'name': 'rental_id', 'type': 'INT'}, {'name': 'amount', 'type': 'DECIMAL(5,2)'}, {'name': 'payment_date', 'type': 'TIMESTAMP'}, {'name': 'last_update', 'type': 'TIMESTAMP'}], 'primary_keys': ['payment_id'], 'foreign_keys': [{'from': 'staff_id', 'table': 'staff', 'to': 'staff_id'}, {'from': 'customer_id', 'table': 'customer', 'to': 'customer_id'}, {'from': 'rental_id', 'table': 'rental', 'to': 'rental_id'}]}, 'rental': {'columns': [{'name': 'rental_id', 'type': 'INT'}, {'name': 'rental_date', 'type': 'TIMESTAMP'}, {'name': 'inventory_id', 'type': 'INT'}, {'name': 'customer_id', 'type': 'INT'}, {'name': 'return_date', 'type': 'TIMESTAMP'}, {'name': 'staff_id', 'type': 'SMALLINT'}, {'name': 'last_update', 'type': 'TIMESTAMP'}], 'primary_keys': ['rental_id'], 'foreign_keys': [{'from': 'customer_id', 'table': 'customer', 'to': 'customer_id'}, {'from': 'inventory_id', 'table': 'inventory', 'to': 'inventory_id'}, {'from': 'staff_id', 'table': 'staff', 'to': 'staff_id'}]}}

In [4]:
import sqlite3
import pandas as pd
import os
import json

def erd_text_generate(name, replacement=None):
    """
    Generate schema information and ERD text from a SQLite database.

    Args:
        name (str): database name (without .sqlite extension).
        replacement (dict): {table: {original_col: [expanded_cols...]}}
                            If provided, schema_info will replace those columns,
                            and ERD text will be generated from updated schema_info.
    """
    database_path = name + ".sqlite"
    conn = sqlite3.connect(database_path)

    # Step 1: List tables
    tables_df = pd.read_sql("SELECT name FROM sqlite_master WHERE type='table';", conn)
    tables = tables_df['name'].tolist()

    schema_info = {}

    for table in tables:
        # Get columns and types
        columns = pd.read_sql(f"PRAGMA table_info({table});", conn)
        # Get foreign keys
        foreign_keys = pd.read_sql(f"PRAGMA foreign_key_list({table});", conn)

        # Prepare column list
        col_list = []
        for _, row in columns.iterrows():
            col_name, col_type = row["name"], row["type"]

            if replacement and table in replacement and col_name in replacement[table]:
                # Replace with expanded columns
                for exp_col in replacement[table][col_name]:
                    col_list.append({"name": exp_col, "type": "INT"})
            else:
                col_list.append({"name": col_name, "type": col_type})

        schema_info[table] = {
            "columns": col_list,
            "primary_keys": columns[columns['pk'] > 0]['name'].tolist(),
            "foreign_keys": foreign_keys[['from', 'table', 'to']].to_dict(orient="records")
        }

    conn.close()

    # ---- Generate ERD text from updated schema_info ----
    def generate_erd_text(schema_info):
        erd_text = ""
        for table, info in schema_info.items():
            erd_text += f"\nTable: {table}\n"
            erd_text += "Columns:\n"
            for col in info["columns"]:
                erd_text += f"  - {col['name']} ({col['type']})\n"

            if info["primary_keys"]:
                erd_text += f"Primary Key: {', '.join(info['primary_keys'])}\n"
            if info["foreign_keys"]:
                erd_text += "Foreign Keys:\n"
                for fk in info["foreign_keys"]:
                    erd_text += f"  - {fk['from']} → {fk['table']}.{fk['to']}\n"
        return erd_text

    erd_text = generate_erd_text(schema_info)

    return schema_info, erd_text

schema_info, erd_text = erd_text_generate("sqlite-sakila", replacements)

In [6]:
print(erd_text)

Table: actor
Columns:
  - actor_id (numeric)
  - first_name (VARCHAR(45))
  - last_name (VARCHAR(45))
  - last_update_year (INT)
  - last_update_month (INT)
  - last_update_day (INT)
  - last_update_hour (INT)
  - last_update_minute (INT)
  - last_update_second (INT)
Primary Key: actor_id

Table: country
Columns:
  - country_id (SMALLINT)
  - country (VARCHAR(50))
  - last_update_year (INT)
  - last_update_month (INT)
  - last_update_day (INT)
  - last_update_hour (INT)
  - last_update_minute (INT)
  - last_update_second (INT)
Primary Key: country_id

Table: city
Columns:
  - city_id (INT)
  - city (VARCHAR(50))
  - country_id (SMALLINT)
  - last_update_year (INT)
  - last_update_month (INT)
  - last_update_day (INT)
  - last_update_hour (INT)
  - last_update_minute (INT)
  - last_update_second (INT)
Primary Key: city_id
Foreign Keys:
  - country_id → country.country_id

Table: address
Columns:
  - address_id (INT)
  - address (VARCHAR(50))
  - address2 (VARCHAR(50))
  - district (VARCHAR(20))
  - city_id (INT)
  - postal_code (VARCHAR(10))
  - phone (VARCHAR(20))
  - last_update_year (INT)
  - last_update_month (INT)
  - last_update_day (INT)
  - last_update_hour (INT)
  - last_update_minute (INT)
  - last_update_second (INT)
Primary Key: address_id
Foreign Keys:
  - city_id → city.city_id

Table: language
Columns:
  - language_id (SMALLINT)
  - name (CHAR(20))
  - last_update_year (INT)
  - last_update_month (INT)
  - last_update_day (INT)
  - last_update_hour (INT)
  - last_update_minute (INT)
  - last_update_second (INT)
Primary Key: language_id

Table: category
Columns:
  - category_id (SMALLINT)
  - name (VARCHAR(25))
  - last_update_year (INT)
  - last_update_month (INT)
  - last_update_day (INT)
  - last_update_hour (INT)
  - last_update_minute (INT)
  - last_update_second (INT)
Primary Key: category_id

Table: customer
Columns:
  - customer_id (INT)
  - store_id (INT)
  - first_name (VARCHAR(45))
  - last_name (VARCHAR(45))
  - email (VARCHAR(50))
  - address_id (INT)
  - active (CHAR(1))
  - create_date_year (INT)
  - create_date_month (INT)
  - create_date_day (INT)
  - create_date_hour (INT)
  - create_date_minute (INT)
  - create_date_second (INT)
  - last_update_year (INT)
  - last_update_month (INT)
  - last_update_day (INT)
  - last_update_hour (INT)
  - last_update_minute (INT)
  - last_update_second (INT)
Primary Key: customer_id
Foreign Keys:
  - address_id → address.address_id
  - store_id → store.store_id

Table: film
Columns:
  - film_id (INT)
  - title (VARCHAR(255))
  - description (BLOB SUB_TYPE TEXT)
  - release_year (VARCHAR(4))
  - language_id (SMALLINT)
  - original_language_id (SMALLINT)
  - rental_duration (SMALLINT)
  - rental_rate (DECIMAL(4,2))
  - length (SMALLINT)
  - replacement_cost (DECIMAL(5,2))
  - rating (VARCHAR(10))
  - special_features (VARCHAR(100))
  - last_update_year (INT)
  - last_update_month (INT)
  - last_update_day (INT)
  - last_update_hour (INT)
  - last_update_minute (INT)
  - last_update_second (INT)
Primary Key: film_id
Foreign Keys:
  - original_language_id → language.language_id
  - language_id → language.language_id

Table: film_actor
Columns:
  - actor_id (INT)
  - film_id (INT)
  - last_update_year (INT)
  - last_update_month (INT)
  - last_update_day (INT)
  - last_update_hour (INT)
  - last_update_minute (INT)
  - last_update_second (INT)
Primary Key: actor_id, film_id
Foreign Keys:
  - film_id → film.film_id
  - actor_id → actor.actor_id

Table: film_category
Columns:
  - film_id (INT)
  - category_id (SMALLINT)
  - last_update_year (INT)
  - last_update_month (INT)
  - last_update_day (INT)
  - last_update_hour (INT)
  - last_update_minute (INT)
  - last_update_second (INT)
Primary Key: film_id, category_id
Foreign Keys:
  - category_id → category.category_id
  - film_id → film.film_id

Table: film_text
Columns:
  - film_id (SMALLINT)
  - title (VARCHAR(255))
  - description (BLOB SUB_TYPE TEXT)
Primary Key: film_id

Table: inventory
Columns:
  - inventory_id (INT)
  - film_id (INT)
  - store_id (INT)
  - last_update_year (INT)
  - last_update_month (INT)
  - last_update_day (INT)
  - last_update_hour (INT)
  - last_update_minute (INT)
  - last_update_second (INT)
Primary Key: inventory_id
Foreign Keys:
  - film_id → film.film_id
  - store_id → store.store_id

Table: staff
Columns:
  - staff_id (SMALLINT)
  - first_name (VARCHAR(45))
  - last_name (VARCHAR(45))
  - address_id (INT)
  - picture (BLOB)
  - email (VARCHAR(50))
  - store_id (INT)
  - active (SMALLINT)
  - username (VARCHAR(16))
  - password (VARCHAR(40))
  - last_update_year (INT)
  - last_update_month (INT)
  - last_update_day (INT)
  - last_update_hour (INT)
  - last_update_minute (INT)
  - last_update_second (INT)
Primary Key: staff_id
Foreign Keys:
  - address_id → address.address_id
  - store_id → store.store_id

Table: store
Columns:
  - store_id (INT)
  - manager_staff_id (SMALLINT)
  - address_id (INT)
  - last_update_year (INT)
  - last_update_month (INT)
  - last_update_day (INT)
  - last_update_hour (INT)
  - last_update_minute (INT)
  - last_update_second (INT)
Primary Key: store_id
Foreign Keys:
  - address_id → address.address_id
  - manager_staff_id → staff.staff_id

Table: payment
Columns:
  - payment_id (INT)
  - customer_id (INT)
  - staff_id (SMALLINT)
  - rental_id (INT)
  - amount (DECIMAL(5,2))
  - payment_date_year (INT)
  - payment_date_month (INT)
  - payment_date_day (INT)
  - payment_date_hour (INT)
  - payment_date_minute (INT)
  - payment_date_second (INT)
  - last_update_year (INT)
  - last_update_month (INT)
  - last_update_day (INT)
  - last_update_hour (INT)
  - last_update_minute (INT)
  - last_update_second (INT)
Primary Key: payment_id
Foreign Keys:
  - staff_id → staff.staff_id
  - customer_id → customer.customer_id
  - rental_id → rental.rental_id

Table: rental
Columns:
  - rental_id (INT)
  - rental_date_year (INT)
  - rental_date_month (INT)
  - rental_date_day (INT)
  - rental_date_hour (INT)
  - rental_date_minute (INT)
  - rental_date_second (INT)
  - inventory_id (INT)
  - customer_id (INT)
  - return_date_year (INT)
  - return_date_month (INT)
  - return_date_day (INT)
  - return_date_hour (INT)
  - return_date_minute (INT)
  - return_date_second (INT)
  - staff_id (SMALLINT)
  - last_update_year (INT)
  - last_update_month (INT)
  - last_update_day (INT)
  - last_update_hour (INT)
  - last_update_minute (INT)
  - last_update_second (INT)
Primary Key: rental_id
Foreign Keys:
  - customer_id → customer.customer_id
  - inventory_id → inventory.inventory_id
  - staff_id → staff.staff_id